body {
  margin: 0;
  padding: 0;
  background-image: url("./bg.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Prevent scrollbars */
  font-family: Arial, sans-serif;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.modal {
  display: flex;
  width: 40vw;
  background-color: white;
  border: 3px solid black;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  min-height: 520px;
  min-width: 1125px;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.list-modal{
  width: 50vw;
  background-image: url('./bg-card.png');
  background-position: center;
  background-size: 120% 100%;
  color: #01a4a6;
}

.button {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding for size */
  font-size: 16px; /* Adjust font size */
  font-weight: bold; /* Make the text bold */
  color: #fff; /* Text color */
  background-color: #111111; /* Button background color */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: all 0.3s ease; /* Smooth transitions for hover effects */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  margin: 10px;
}

.button:hover {
  background-color: #111111; /* Darker background on hover */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Enhance shadow on hover */
  transform: translateY(-2px); /* Slight lift effect */
}

.list-item {
  background-color: #fff;
}

.mysteryBox img.foreground-box {
  border-radius: 24px;
  position: absolute;
  top: 23.2%;
  left: 73.1%;
  width: 27vw;
  height: 57vh;
  animation: wobble 0.5s ease-in-out infinite;
}

.mysteryBox img.foreground-box.no-wobble {
  border-radius: 24px;
  position: absolute;
  top: 23.2%;
  left: 73.1%;
  width: 25vw;
  height: 57vh;
  animation: none; /* Disable wobble animation */
}

.mysteryBox img.background-box {
  border-radius: 24px;
  position: absolute;
  top: 22%;
  left: 72%;
  width: 30vw;
  height: 60vh;
  z-index: -1; /* Ensure it stays behind the foreground box */
}
@keyframes wobble {
  0%, 40%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
}

.dialog{
  margin-top: 10vh;
  align-items: center;
}
.dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.MuiDialogTitle-root {
  text-align: center;
  font-size: 30px;
}

.fade-wrapper {
  transition: opacity 2s ease;
  opacity: 1;
}

.fade-wrapper.fade-out {
  opacity: 0;
}

.chat-box {
  padding: 20px;
  background: #f9f9f9;
  border-radius: 12px;
  margin-top: 20px;
}

.price-selection-container {
  height: 170px;
}

.price-selection-container img {
  width: 150px;
  height: 150px;
  border-radius: 12px;
  transition: transform 0.3s ease, margin 0.3s ease;
  cursor: pointer;
}

.price-selection-container img:hover {
  transform: scale(1.75); /* Zoom in */
  z-index: 10; /* Bring the hovered image to the front */
}

.giftbox-container {
  position: relative;
  display: inline-block;
}

.hover-text {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 10000;
  bottom: 10%; /* Position above the image */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 16px;
}

.giftbox-container:hover .hover-text {
  visibility: visible;
  opacity: 1;
}

.domain-card.move-to-side {
  transform: translate(-208px, -32px); /* Move the card to the left and up */
  transition: transform 0.5s ease;
}